* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

.header {
  background-color: #0f8b8d;
  color: #fff;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72.75rem;
  max-width: 100%;
  padding: 0 20px;
}

.header-logo {
  background-image: url("../Assets/Logo White.png");
  background-size: cover;
  height: 39px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.header-list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list li {
  padding: 15px;
}

/* header */
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding: 70px 0;
}

.container-main {
  height: 75vh;
  display: flex;
  flex-direction: column;
  width: 60rem;
  justify-content: space-between;
  gap: 25px;
}

.container-main > h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  width: 390px;
  height: 58px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  width: 60rem;
  justify-content: space-between;
  gap: 30px;
  color: #0f8b8d;
}

.container-main.second {
  height: 50vh;
  display: flex;
  width: 60rem;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.container-find {
  display: flex;
  flex-direction: row;
  gap: 65px;
  align-items: center;
}

iframe {
  border-radius: 10px;
}

.img-card {
  width: 335px;
  height: 460px;
  overflow: hidden;
  border-radius: 20px;
}

.button-red {
  width: 216px;
  height: 70px;
  border-radius: 55px;
  background-color: #a8201a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9fbfe;
}

.button-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.img-ico-back {
  background-image: url("../Assets/Arrow.svg");
  width: 30px;
  height: 30px;
  background-size: cover;
  transform: rotate(180deg);
  filter: invert(100%);
}

.container-main.card {
  height: 70vh;
  display: flex;
  width: 60rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #d2d2d2;
  border-radius: 20px;
  padding: 20px;
}

.detail-img img {
  height: 502px;
}

.desc-img {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc-img h2 {
  width: 279px;
  height: 58px;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #0f8b8d;
}
.desc-img h3 {
  width: 456px;
  height: 29px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.desc-img p {
  width: 313px;
  height: 72px;
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  color: #0f8b8d;
}

.find-item {
  width: 474px;
  height: 196px;
  border-radius: 20px;
  border: 1px solid #d2d2d2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.item-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-wrap > h3 {
  height: 36px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #143642;
}

.item-wrap > p {
  width: 400px;
  height: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #143642;
}

.find-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.find-items h2 {
  height: 58px;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #0f8b8d;
}

.find-items > h3 {
  width: 526px;
  height: 29px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #143642;
}

.container-main.ask {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.container-center {
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: space-around;
}

.container-center h3 {
  color: #0f8b8d;
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: 0em;
}

.line-space {
  width: 278px;
  height: 5px;
  background-color: #ec9a29;
}

/* form */
form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 25px;
}

label {
  width: 120px;
  margin-right: 10px;
}

::placeholder {
  color: #d2d2d2;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  flex: 1;
  padding: 15px;
  border: 1px solid #d2d2d2;
  border-radius: 20px;
  width: 493px;
  height: 71px;
}

textarea {
  width: 493px;
  height: 200px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

label {
  width: 300px;
  margin-right: 10px;
  font-size: 30px;
}
/* footer */
footer {
  background-color: #143642;
  color: #fff;
  height: 28.75rem; /* Ganti tinggi footer agar sesuai dengan kontennya */
  display: flex;
  flex-direction: column; /* Ubah tata letak menjadi kolom pada perangkat seluler */
  justify-content: center;
  align-items: center;
}

.footer-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 40px;
  align-items: start;
}

.footer-list {
  height: auto; /* Ubah tinggi menjadi otomatis agar mengikuti konten pada perangkat seluler */
  display: flex;
  flex-direction: column; /* Ubah tata letak menjadi kolom pada perangkat seluler */
  justify-content: center; /* Atur tata letak vertikal menjadi tengah pada perangkat seluler */
  margin-bottom: 20px; /* Tambahkan margin bawah agar terpisah dari daftar pada perangkat seluler */
}

.footer-list ul {
  width: 100%; /* Atur lebar menu agar memenuhi lebar footer pada perangkat seluler */
  padding: 0; /* Hapus padding agar menu tidak terlalu jauh dari tepi pada perangkat seluler */
}

.footer-list a {
  font-size: 18px; /* Kurangi ukuran font agar sesuai pada perangkat seluler */
  font-weight: 700;
  line-height: 22px; /* Sesuaikan line-height agar tetap rapih pada perangkat seluler */
  letter-spacing: 0em;
  text-align: left;
}

.footer-list ul li a {
  height: auto; /* Ubah tinggi menjadi otomatis agar mengikuti konten pada perangkat seluler */
  display: flex;
  justify-content: space-between;
}

.footer-list ul li:first-child a {
  color: #ec9a29;
}

.footer-brand {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.icon-brand {
  background-image: url("../Assets/Logo\ White.png");
  background-size: cover;
  height: 43px;
  width: 220px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-icons {
  display: flex;
  justify-content: center; /* Atur tata letak ikon menjadi tengah pada perangkat seluler */
}

.img-icon {
  background-image: url("../Assets/MAIL\ ICON.svg");
  background-size: cover;
  width: 40px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(100%);
  margin-right: 10px; /* Kurangi margin kanan pada perangkat seluler */
}

.img-icon:nth-of-type(2) {
  background-image: url("../Assets/PHONE\ ICON.svg");
}

.container-footer {
  display: flex;
  height: 70%;
  width: 85%;
  justify-content: space-between;
}

.footer-list ul li a {
  margin-bottom: 10px;
}
